* {
  .footer {
    background-color: #1d1e18;
    text-align: center;
    margin:0;
    padding:1rem 0;
    p {
      color: #fcfffc;
      background-color: transparent;
      margin:0;
    }
  }
}
