@import '/index.scss';

.nav {
    transition: top 0.3s;
    background-color: $primary-color;
    .navlink {
        color:$secondary-color !important;
        &:hover{
            text-decoration: none;
            color:$secondary-color !important;
        }
    }
}
