$break-large: 992px;
@mixin setLinkSelectorStyle {
    &:visited,  &:focus{
        background-color: transparent;
        color:#1d1e18;
        border:1px solid #1d1e18;
        box-shadow: 1px 1px 1px #1d1e18;
      }
    &:hover,  &:active{
        color:#fcfffc;
        background-color: #1d1e18 !important;
        border:1px solid #fcfffc;
        box-shadow: 1px 1px 1px #fcfffc;
      }
  }

  html {
    scroll-behavior: smooth;
  }

body {
  color: #1d1e18;
  background-color: #fcfffc;
  .hero {
    min-height: calc(100vh - 56px);
    height: calc(100% - 56px);
    background-color: #fcfffc !important;
    display: flex;
    margin-top: 56px;
    @media screen and (max-width: $break-large) {
      text-align: center;
    }
        a {
        align-self: center;
        margin:1rem 0;

       button {
        background-color: transparent;
        color:#1d1e18;
        border:1px solid #1d1e18;
        box-shadow: 1px 1px 1px #1d1e18;
        @include setLinkSelectorStyle 
        // &:hover &:active {
        //     color:#fcfffc;
        //     background-color: #1d1e18;
        //     border:1px solid #fcfffc;
        //     box-shadow: 1px 1px 1px #fcfffc;


        
        }
      }
    }
    .hero-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        font-size: 1rem;
      }
    }
    .hero-image {
      height: 100%;
      @media screen and (max-width: $break-large) {
        display: none;
      }
    }
  }

  .projects {
    padding: 2rem 0;
    text-align: center;
    background-color: #1d1e18;
    h1 {
      padding: 2rem 0;
      color: #fcfffc;
    }
}