$primary-color:#0B0B09;
$secondary-color:#fcfffc;
$break-large: 992px;

@mixin setLinkSelectorStyle {
    &:visited,  &:focus{
        background-color: transparent;
        color:$primary-color;
        border:1px solid $primary-color;
        box-shadow: 1px 1px 1px $primary-color;
      }
    &:hover,  &:active{
        color:$secondary-color;
        background-color: $primary-color !important;
        border:1px solid $secondary-color;
        box-shadow: 1px 1px 1px $secondary-color;
      }
  }

  html {
    scroll-behavior: smooth;
  }

body {
  color: $primary-color;
  background-color: #fcfffc;
  .hero {
    min-height: calc(100vh - 56px);
    height: calc(100% - 56px);
    background-color: $secondary-color !important;
    display: flex;
    margin-top: 56px;
    margin-bottom: 0;
    @media screen and (max-width: $break-large) {
      text-align: center;
    }
        a {
        align-self: center;
        margin:1rem 0;

       button {
        background-color: transparent;
        color:$primary-color;
        border:1px solid $primary-color;
        box-shadow: 1px 1px 1px $primary-color;
        @include setLinkSelectorStyle 
        // &:hover &:active {
        //     color:#fcfffc;
        //     background-color: $primary-color;
        //     border:1px solid #fcfffc;
        //     box-shadow: 1px 1px 1px #fcfffc;


        
        }
      }
    }
    .hero-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        font-size: 1rem;
      }
    }
    .hero-image {
      height: 100%;
      @media screen and (max-width: $break-large) {
        display: none;
      }
    }
  }

  .projects {
    padding: 2rem 0;
    text-align: center;
    background-color: #E5E4DF;
    h1 {
      padding: 2rem 0;
      color: #0B0B09;
    }
    
}