@import '/index.scss';

$break-large: 992px;

.link {
  height: 400px;
  &:hover {
    text-decoration: none;
  }
  .parent {
    height: 400px;
    margin: 1rem 0;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);

  }
  @media screen and (min-width: $break-large) {
    .parent:hover .item,
    .parent:focus .item {
      transform: scale(1.2);
      box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    }
  }

  .item {
    @media screen and (max-width: $break-large) {
        box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7)
    }
    transition: all 0.5s;
    height: 100%;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    
    .itemText {
      background-color: transparent;
      font-size: 2rem;
      font-weight: bolder;
      color: $secondary-color;
      text-decoration: none;
      padding: 0 4rem;
    }
  }
  &:hover {
    box-shadow: none;
    text-decoration: none;
  }
}

// @media screen and (max-width: $break-large) {
//     .scrollContainer {
//         height:100vh;
//         scroll-snap-type: mandatory;
//         scroll-snap-type: y mandatory;
//         overflow-y: scroll;
//     }
//     .scrollElement {
//         scroll-snap-align: center;
//         scroll-snap-stop:always;
//     }}

