
.content {
  padding: 2rem 0;
  background-color: #E5E4DF;
}

.title {
  text-align: center;
  padding: 2rem 0;
}

.row {
  padding: 1rem 0;
}

.information {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    font-weight: lighter;
    span {
        font-weight: bolder;
        font-size: 1.5rem;
      }
    }
    
  }

