
.link{
    &:hover{
        text-decoration: none;
        display:block;
    }
.item {
    height:400px;
    width:100%;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1rem 0;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
        .itemText{
        background-color:transparent;
        font-size:2rem;
        font-weight:bolder;
        color:#FCFFFC;
        text-decoration: none;
        padding:0 4rem;
        }   
        }
    &:hover{
        box-shadow:none;
        text-decoration: none;
    }
}